<div class="well">
  <h3>Upcoming Games</h3>
</div>

<div class="rTable">
  <!-- row heading -->
  <div class="rTableRow">
    <div class="rTableHead"><span style="display:inline-block; width: 100px;"></div>
    <div class="rTableHead"><span style="display:inline-block; width: 150px;"></div>
    <div class="rTableHead"><span style="display:inline-block; width: 150px;"></span></div>
    <div class="rTableHead"><span style="display:inline-block; width: 150px;"></span></div>
    <div class="rTableHead"><span style="display:inline-block; width: 200px;"></div>
    <div class="rTableHead"><span style="display:inline-block; width: 40px;"></span></div>
    <div class="rTableHead"><span style="display:inline-block; width: 40px;"></span></div>
 </div>

 <!-- row data -->
<a href="games/:id">
<% i = 0 %>
<% @game_to_bet_on.each do |game| %>
 <% @home_team_image = "" %>
 <% case game[:home_team]
 when "Diamondbacks" %>
   <% @home_team_image = "ari.gif" %>
 <% when "Braves" %>
   <% @home_team_image = "atl.gif" %>
 <% when "Orioles" %>
   <% @home_team_image = "bal.gif" %>
 <% when "Red Sox" %>
   <% @home_team_image = "bos.gif" %>
 <% when "Cubs" %>
   <% @home_team_image = "chi_cubs.gif" %>
 <% when "White Sox" %>
   <% @home_team_image = "chi_sox.gif" %>
 <% when "Reds" %>
   <% @home_team_image = "cin.gif" %>
 <% when "Indians" %>
   <% @home_team_image = "cle.gif" %>
 <% when "Rockies" %>
   <% @home_team_image = "col.gif" %>
 <% when "Tigers" %>
   <% @home_team_image = "det.gif" %>
 <% when "Astros" %>
   <% @home_team_image = "hou.gif" %>
 <% when "Royals" %>
   <% @home_team_image = "kc.gif" %>
 <% when "Angels" %>
   <% @home_team_image = "laa.gif" %>
 <% when "Dodgers" %>
   <% @home_team_image = "lad.gif" %>
 <% when "Marlins" %>
   <% @home_team_image = "mia.gif" %>
 <% when "Brewers" %>
   <% @home_team_image = "mil.gif" %>
 <% when "Twins" %>
   <% @home_team_image = "min.gif" %>
 <% when "Mets" %>
   <% @home_team_image = "nym.gif" %>
 <% when "Yankees" %>
   <% @home_team_image = "nyy.gif" %>
 <% when "Athletics" %>
   <% @home_team_image = "oak.gif" %>
 <% when "Phillies" %>
   <% @home_team_image = "phi.gif" %>
 <% when "Pirates" %>
   <% @home_team_image = "pit.gif" %>
 <% when "Padres" %>
   <% @home_team_image = "sd.gif" %>
 <% when "Mariners" %>
   <% @home_team_image = "sea.gif" %>
 <% when "Giants" %>
   <% @home_team_image = "sf.gif" %>
 <% when "Cardinals" %>
   <% @home_team_image = "car.gif" %>
 <% when "Rays" %>
   <% @home_team_image = "tb.gif" %>
 <% when "Rangers" %>
   <% @home_team_image = "tex.gif" %>
 <% when "Blue Jays" %>
   <% @home_team_image = "tor.gif" %>
 <% when "Nationals" %>
   <% @home_team_image = "was.gif" %>
 <% end %>

 <% @away_team_image = "" %>
 <% case game[:away_team]
 when "Diamondbacks" %>
   <% @away_team_image = "ari.gif" %>
 <% when "Braves" %>
   <% @away_team_image = "atl.gif" %>
 <% when "Orioles" %>
   <% @away_team_image = "bal.gif" %>
 <% when "Red Sox" %>
   <% @away_team_image = "bos.gif" %>
 <% when "Cubs" %>
   <% @away_team_image = "chi_cubs.gif" %>
 <% when "White Sox" %>
   <% @away_team_image = "chi_sox.gif" %>
 <% when "Reds" %>
   <% @away_team_image = "cin.gif" %>
 <% when "Indians" %>
   <% @away_team_image = "cle.gif" %>
 <% when "Rockies" %>
   <% @away_team_image = "col.gif" %>
 <% when "Tigers" %>
   <% @away_team_image = "det.gif" %>
 <% when "Astros" %>
   <% @away_team_image = "hou.gif" %>
 <% when "Royals" %>
   <% @away_team_image = "kc.gif" %>
 <% when "Angels" %>
   <% @away_team_image = "laa.gif" %>
 <% when "Dodgers" %>
   <% @away_team_image = "lad.gif" %>
 <% when "Marlins" %>
   <% @away_team_image = "mia.gif" %>
 <% when "Brewers" %>
   <% @away_team_image = "mil.gif" %>
 <% when "Twins" %>
   <% @away_team_image = "min.gif" %>
 <% when "Mets" %>
   <% @away_team_image = "nym.gif" %>
 <% when "Yankees" %>
   <% @away_team_image = "nyy.gif" %>
 <% when "Athletics" %>
   <% @away_team_image = "oak.gif" %>
 <% when "Phillies" %>
   <% @away_team_image = "phi.gif" %>
 <% when "Pirates" %>
   <% @away_team_image = "pit.gif" %>
 <% when "Padres" %>
   <% @away_team_image = "sd.gif" %>
 <% when "Mariners" %>
   <% @away_team_image = "sea.gif" %>
 <% when "Giants" %>
   <% @away_team_image = "sf.gif" %>
 <% when "Cardinals" %>
   <% @away_team_image = "car.gif" %>
 <% when "Rays" %>
   <% @away_team_image = "tb.gif" %>
 <% when "Rangers" %>
   <% @away_team_image = "tex.gif" %>
 <% when "Blue Jays" %>
   <% @away_team_image = "tor.gif" %>
 <% when "Nationals" %>
   <% @away_team_image = "was.gif" %>
 <% end %>
   <div class="rTableRow">
     <div class="rTableCell"><span style="display:inline-block; width: 150px;"><%= game[:game_date] %></span></div>
     <div class="rTableCell"><span style="display:inline-block; width: 175px;"><img src="/images/<%= "#{@home_team_image}"%>"/></div>
     <div class="rTableCell"><span style="display:inline-block; width: 200px;"><%= game[:home_team] %> vs <%= game[:away_team] %></div>
     <div class="rTableCell"><span style="display:inline-block; width: 175px;"><img src="/images/<%= "#{@away_team_image}"%>"/></div>
     <div class="rTableCell"><span style="display:inline-block; width: 200px;"><%= game[:stadium_name] %> &nbsp <%= game[:stadium_city] %></div>
     <div class="rTableCell"><span style="display:inline-block; width: 40px;"><%= @game[i].bets.count %></div>
     <div class="rTableCell"><span style="display:inline-block; width: 40px;"><%= @game[i].pool %></div>
   </div>
   <% i += 1 %>
 <% end %>
</a>
