<div class="about-top">
<div class="main-content">
<div class="about-top">

<div class="about-info">

  <h2>Games</h2>
</div>
</div>
<div class="about-team">
<div class="main-content">
<table class="table table-striped">
  <tr>
    <th>Date</th>
    <th></th>
    <th>Game</th>
    <th></th>
    <th></th>
    <th>Bets</th>
    <th>Pool</th>
    <th></th>
  </tr>
  <% i = 0 %>
  <% @game_to_bet_on.each do |game| %>
  <% @home_team_image = "" %>
   <% case game[:home_team]
   when "Diamondbacks" %>
     <% @home_team_image = "ari.gif" %>
   <% when "Braves" %>
     <% @home_team_image = "atl.gif" %>
   <% when "Orioles" %>
     <% @home_team_image = "bal.gif" %>
   <% when "Red Sox" %>
     <% @home_team_image = "bos.gif" %>
   <% when "Cubs" %>
     <% @home_team_image = "chi_cubs.gif" %>
   <% when "White Sox" %>
     <% @home_team_image = "chi_sox.gif" %>
   <% when "Reds" %>
     <% @home_team_image = "cin.gif" %>
   <% when "Indians" %>
     <% @home_team_image = "cle.gif" %>
   <% when "Rockies" %>
     <% @home_team_image = "col.gif" %>
   <% when "Tigers" %>
     <% @home_team_image = "det.gif" %>
   <% when "Astros" %>
     <% @home_team_image = "hou.gif" %>
   <% when "Royals" %>
     <% @home_team_image = "kc.gif" %>
   <% when "Angels" %>
     <% @home_team_image = "laa.gif" %>
   <% when "Dodgers" %>
     <% @home_team_image = "lad.gif" %>
   <% when "Marlins" %>
     <% @home_team_image = "mia.gif" %>
   <% when "Brewers" %>
     <% @home_team_image = "mil.gif" %>
   <% when "Twins" %>
     <% @home_team_image = "min.gif" %>
   <% when "Mets" %>
     <% @home_team_image = "nym.gif" %>
   <% when "Yankees" %>
     <% @home_team_image = "nyy.gif" %>
   <% when "Athletics" %>
     <% @home_team_image = "oak.gif" %>
   <% when "Phillies" %>
     <% @home_team_image = "phi.gif" %>
   <% when "Pirates" %>
     <% @home_team_image = "pit.gif" %>
   <% when "Padres" %>
     <% @home_team_image = "sd.gif" %>
   <% when "Mariners" %>
     <% @home_team_image = "sea.gif" %>
   <% when "Giants" %>
     <% @home_team_image = "sf.gif" %>
   <% when "Cardinals" %>
     <% @home_team_image = "car.gif" %>
   <% when "Rays" %>
     <% @home_team_image = "tb.gif" %>
   <% when "Rangers" %>
     <% @home_team_image = "tex.gif" %>
   <% when "Blue Jays" %>
     <% @home_team_image = "tor.gif" %>
   <% when "Nationals" %>
     <% @home_team_image = "was.gif" %>
   <% end %>

   <% @away_team_image = "" %>
   <% case game[:away_team]
   when "Diamondbacks" %>
     <% @away_team_image = "ari.gif" %>
   <% when "Braves" %>
     <% @away_team_image = "atl.gif" %>
   <% when "Orioles" %>
     <% @away_team_image = "bal.gif" %>
   <% when "Red Sox" %>
     <% @away_team_image = "bos.gif" %>
   <% when "Cubs" %>
     <% @away_team_image = "chi_cubs.gif" %>
   <% when "White Sox" %>
     <% @away_team_image = "chi_sox.gif" %>
   <% when "Reds" %>
     <% @away_team_image = "cin.gif" %>
   <% when "Indians" %>
     <% @away_team_image = "cle.gif" %>
   <% when "Rockies" %>
     <% @away_team_image = "col.gif" %>
   <% when "Tigers" %>
     <% @away_team_image = "det.gif" %>
   <% when "Astros" %>
     <% @away_team_image = "hou.gif" %>
   <% when "Royals" %>
     <% @away_team_image = "kc.gif" %>
   <% when "Angels" %>
     <% @away_team_image = "laa.gif" %>
   <% when "Dodgers" %>
     <% @away_team_image = "lad.gif" %>
   <% when "Marlins" %>
     <% @away_team_image = "mia.gif" %>
   <% when "Brewers" %>
     <% @away_team_image = "mil.gif" %>
   <% when "Twins" %>
     <% @away_team_image = "min.gif" %>
   <% when "Mets" %>
     <% @away_team_image = "nym.gif" %>
   <% when "Yankees" %>
     <% @away_team_image = "nyy.gif" %>
   <% when "Athletics" %>
     <% @away_team_image = "oak.gif" %>
   <% when "Phillies" %>
     <% @away_team_image = "phi.gif" %>
   <% when "Pirates" %>
     <% @away_team_image = "pit.gif" %>
   <% when "Padres" %>
     <% @away_team_image = "sd.gif" %>
   <% when "Mariners" %>
     <% @away_team_image = "sea.gif" %>
   <% when "Giants" %>
     <% @away_team_image = "sf.gif" %>
   <% when "Cardinals" %>
     <% @away_team_image = "car.gif" %>
   <% when "Rays" %>
     <% @away_team_image = "tb.gif" %>
   <% when "Rangers" %>
     <% @away_team_image = "tex.gif" %>
   <% when "Blue Jays" %>
     <% @away_team_image = "tor.gif" %>
   <% when "Nationals" %>
     <% @away_team_image = "was.gif" %>
   <% end %>

    <tr >
      <td><%= format_datetime(game[:game_date]) %></td>
      <td><img src="/images/<%= "#{@home_team_image}"%>"</td>
      <td>
        <a href="games/<%= "#{@games_array[i].id}"%>">
          <%= game[:home_team] %> vs <%= game[:away_team] %>
        </a>
      </td>
      <td><img src="/images/<%= "#{@away_team_image}"%>"/></td>
      <td><%= game[:stadium_name] %> &nbsp <%= game[:stadium_city] %></td>
      <td><%= @games_array[i].bets.count %></td>
      <td><%= @games_array[i].pool %></td>
      <% @game = Game.find(@games_array[i].id.to_i) %>

      <td><%# unless current_user.bet?(@game) %>
        <% if can_bet?(@game) %>
          <div>

            <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#<%=i%>">
              Bet
            </button>
            <!-- Modal -->
            <div class="modal fade" id="<%=i%>" tabindex="-1" role="dialog" aria-labelledby="betLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="betLabel">Bet on the game</h4>
                  </div>
                  <div class="modal-body">
                    <form class="form-inline" action="/games/<%= "#{@game.id}/bets" %>" method="post">
                      <div class="form-group">
                        <label for="team">Team</label>
                        <select class="form-control" name="game_team_id">
                          <% @game.game_teams.each do |gt| %>

                            <option value="<%= gt.id %>"><%= gt.team.name %></option>
                          <% end %>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="">Points</label>
                        <input type="text" class="form-control" name="bet_points">
                      </div>
                      <button type="submit" class="btn btn-success">Bet</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>
      </td>
    </tr>
    <% i += 1 %>
  <% end %>
</table>
</div>
</div>
</div>
</div>
