<div class="well">
  <h3>Game details</h3>
</div>
<% if @game.completed? %>
  <div>
    <h2>GAME IS OVER</h2>
    
    <h2>
      <% if @game.tied? %>
        TIED 
        <%=@game.game_teams.first.score%>-<%=@game.game_teams.first.score%>
      <% else %>
        WINNER: THE <%#=@city_name%> <%=@winning_team_name%> 
      <% end %> 
    </h2>
    <h2><%=@game.game_teams.first.score%> - <%=@game.game_teams.last.score%></h2>
    <hr>
  </div>
<%end%>
<% if @game %>
  <div>
    <%teams = @game.game_teams%>
    <h2>
      <strong>
        <%= teams.first.team.name %> VS <%= teams.last.team.name %> - <%= @game.stadium.try(:name) %>
      </strong>
    </h2>
    <h3><%= format_datetime(@game.datetime) %></h3>
    <h3>Status: <%= @game.status %></h3>
  </div>

  <% unless current_user.bet?(@game) %>
    <%= erb :'bets/bet_modal' %>
  <% end %>

  <div>
    <div>
      <h4>TOTAL POINTS: <%=@game.pool%></h4>
      <h4>NUMBER OF BETS:
        <%=@game.bets.try(:length)%>
      </h4>
    </div>

    <div class='well'>
      <h3>Bets on Game</h3> 
      <table class='table table-striped'>
        <tr>
          <th>Username</th>
          <th>Team</th>
          <th>Bet points</th>
          <th>Date</th>
        </tr>
        <%@game.bets.each do |bet| %>
          <tr>
            <td><%= bet.user.try(:username)%></td>
            <td><%= bet.team.name %></td>
            <td><%= bet.points %></td>
            <td><%= format_datetime(bet.created_at) %></td>
          </tr>
      <% end %>
      </table>
    </div>

  </div>

<% else %>
  <h1><strong>GAME NOT FOUND</strong></h1>
<% end %>
