<div class="about-top">
<div class="main-content">
<div class="about-top">

<div class="about-info">
  <h2>Game details</h2>
  </div>
  </div>
  <div class="about-team">
<div class="main-content align-c">

<% if @game.completed? %>
  <div>
    <h4>GAME IS OVER</h4>

    <h2>
      <% if @game.tied? %>
        TIED
        <%=@game.game_teams.first.score%>-<%=@game.game_teams.first.score%>
      <% else %>
        WINNER: THE <%#=@city_name%> <%=@winning_team_name%>
      <% end %>
    </h2>
    <h2><%=@game.game_teams.first.score%> - <%=@game.game_teams.last.score%></h2>
    <hr>
  </div>
<%end%>
<% if @game %>
  <div>
    <%teams = @game.game_teams%>
    <h2>
      <strong>
        <%= teams.first.team.name %> VS <%= teams.last.team.name %> - <%= @game.stadium.try(:name) %>
      </strong>
    </h2>
    <h3><%= format_datetime(@game.datetime) %></h3>
    <h3>Status: <%= @game.status %></h3>
  </div>
  <div>
    <%= erb :'bets/bet_modal' if can_bet?(@game) %>
  </div>
  <div>
    <div>
      <h2>TOTAL POINTS: <%=@game.pool%></h2>
      <h2>NUMBER OF BETS:
        <%=@game.bets.try(:length)%>
      </h1>
    </div>
    </div>
    </div>
<div class="about-top">

<div class="about-info">
      <h2>Bets on Game</h2>
      </div>
      </div>
      <div class="about-team">
<div class="main-content">
      <table class='table table-striped'>
        <tr>
          <th>Username</th>
          <th>Team</th>
          <th>Bet points</th>
          <th>Date</th>
        </tr>
        <%@game.bets.each do |bet| %>
          <tr>
            <td><%= bet.user.try(:username)%></td>
            <td><%= bet.team.name %></td>
            <td><%= bet.points %></td>
            <td><%= format_datetime(bet.created_at) %></td>
          </tr>
      <% end %>
      </table>
    </div>

  </div>

<% else %>
  <h1><strong>GAME NOT FOUND</strong></h1>
<% end %>
</div>
</div>
</div>
</div>
