<div class="well">
  <h3>Game details</h3>
</div>
<% if @game %>
  <div>
    <h1><strong><%= @game.stadium.try(:name) %></strong></h2>
    <%teams = @game.game_teams%>
    <h2><%= teams.first.team.name %> VS <%= teams.last.team.name %></h2>     <!--Find a better way to do this maybe? also, TODO: foolproof for nils-->
    <h3><%= @game.datetime %></h3> 
  </div>
  <div>
    <button href='#'>BET!</button>
  </div>
  <div class="well">
    <h3>Bets on this game</h3>
  </div>
  <div>
    <div>
      <h4>TOTAL POINTS: <%=@game.pool%></h4>
      <h4>NUMBER OF BETS:
        <%=@game.bets.try(:length)%> 
      </h4>
    </div>
  
    <div>

      <%@game.bets.each do |bet| %>
        <div>
          <p>Username: <%= bet.user.try(:username)%></p>
          <p>Team: <%= bet.team.name %></p>
         <p>Bet amount: <%= bet.points %></p>
         <hr>
        </div>     
      <% end %>
    </div>

  </div>

<% else %>
  <h1><strong>GAME NOT FOUND</strong></h1>
<% end %>
